nav {
    background-color: lightblue;  
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;  
}

nav ul li{
    display: inline-block;
    color: blue;
    font-weight: bold;
    margin-right: 20px;

}

nav ul {
    text-align: right;
}
form   {
    background-color: burlywood;
    margin-top:100px;
    text-align: center;
    top: 200px;
    
    



}

  